<div class="pt-4 w-full h-full">
  <div
    class="w-64 p-6 bg-orange-500 border border-gray-200 rounded-2xl shadow-sm"
  >
    <a href="#">
      <div class="bg-white inline-flex rounded-full items-stretch p-3 mb-2 shadow-sm">
        <svg
          class="w-5 h-5 text-black transition duration-75 group-hover:text-gray-900"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"
          />
          <path
            d="M19.4 14.1l-.6-.3-.4-.5c-.3-.4-.8-.4-1.1 0l-.4.5-.6.3c-.4.2-.6.6-.5 1s.4.7.8.8l.6.3.4.5c.3.4.8.4 1.1 0l.4-.5.6-.3c.4-.2.6-.6.5-1s-.4-.7-.8-.8z"
          />
        </svg>
      </div>
    </a>
    <p class="font-bold text-lg text-white">300</p>
    <p class="text-sm text-white">Total Admin</p>
  </div>
</div>
